.classes-body{
   width:100%;
   height:100%;
   @include flexbox(flex);
   @include flex-direction(column);
   
   .search{
       width:100%;
       height:50px;
       @include flexbox(flex);
       @include justify-content(center);
       @include align-items(center);
       border-bottom:1px solid #ccc;
       
       >div{
           width:95%;
           height:30px;
           @include box-sizing(border-box);
           padding:6px 10px;
           border-radius:8px;
           color:#999;
           background:#eee;
           
           >div{
               height:18px;
               font-size:14px;
               
               >i{
                   font-size: 16px;
                   display: inline-block;
                   margin-top: -4px;
               }
               
               >input{
                   width:80%;
                   border:0;
                   outline: none;
                   background:none;
               }
           }
           
       }
       
   }
   
   .content{
       @include flex(1);
       width:100%;
       @include flexbox(flex);
       
       >aside{
           @include flex(1);
           background:#eee;
           @include box-sizing(border-box);
           @include border(0 1px 0 0,#ccc);
           
           >div{
               width:100%;
               
               >div{
                   widht:100%;
                   height:48px;
                   @include box-sizing(border-box);
                   @include border(0 0 1px 0,#ccc);
                   font-size:16px;
                   text-align: center;
                   line-height: 48px;
                   
               }
           }
         
       }
       
       >section{
           @include flex(3);
       }
   }
   
}
